<div style="box-shadow: 0 1px 2px #aaa;">
    <div style="padding:20px 20px 0 20px;font-weight:bold;font-size:20px;">
        这里是消息
    </div>
    <div style="padding:20px;border-bottom:1px solid #ddd;">
        <div style="display: flex; justify-content: space-between; border-top:1px solid #eee;padding:10px 20px;">
            <span>名称</span>
            <span>值</span>
        </div>
        <div style="display: flex; justify-content: space-between; border-top:1px solid #eee;padding:10px 20px;">
            <span>名称</span>
            <span>值</span>
        </div>
    </div>
    <div style="text-align: right;padding:0 10px 10px 10px;">
        <a href="#" style="display:inline-block;padding:10px 20px;margin-left:10px;margin-top:10px;background:#03a9f4;color:white;text-decoration: none;font-size:14px;">操作按钮</a>
        <a href="#" style="display:inline-block;padding:10px 20px;margin-left:10px;margin-top:10px;background:#03a9f4;color:white;text-decoration: none;font-size:14px;">操作按钮</a>
        <a href="#" style="display:inline-block;padding:10px 20px;margin-left:10px;margin-top:10px;background:#03a9f4;color:white;text-decoration: none;font-size:14px;">操作按钮</a>
        <a href="#" style="display:inline-block;padding:10px 20px;margin-left:10px;margin-top:10px;background:#03a9f4;color:white;text-decoration: none;font-size:14px;">操作按钮</a>
    </div>
</div>