<div style="padding:10px; box-shadow: 1px 1px 5px silver; border-radius:5px;">
	<h3 style="padding:5px;margin:0;">
		{TITLE}
	</h3>
	<div style="padding:20px 5px;">
        {CONTENT}
        <table border="1px solid #ccc" cellspacing="2" cellpadding="10" width="100%" style="text-align:left;">
            <tbody><tr>
                <th>设备类型</th>
                <th>实体名称</th>
                <th>状态</th>
            </tr>
            <tr style="background:yellow;">
                <td>automation</td>
                <td>新建自动化</td>
                <td>on</td>
            </tr><tr>
                <td>binary_sensor</td>
                <td>Updater</td>
                <td>on</td>
            </tr><tr>
                <td>media_player</td>
                <td>ha_cloud_music</td>
                <td>idle</td>
            </tr><tr>
                <td>media_player</td>
                <td>Vlc</td>
                <td>idle</td>
            </tr><tr>
                <td>person</td>
                <td>xiaobai</td>
                <td>unknown</td>
            </tr><tr>
                <td>script</td>
                <td>你好=我好</td>
                <td>off</td>
            </tr><tr>
                <td>sun</td>
                <td>Sun</td>
                <td>above_horizon</td>
            </tr><tr>
                <td>weather</td>
                <td>我的家</td>
                <td>rainy</td>
            </tr><tr>
                <td>zone</td>
                <td>我的家</td>
                <td>zoning</td>
            </tr>
        </tbody></table>
	</div>
	<div style="display:flex;text-align:center;">
		{BUTTON}
	</div>
</div>